<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>My todo Manager</title>

    <link href="./css/style.css" rel="stylesheet" />
    <br>
    <script src="./js/script.js"></script>
  </head>
  <body>
    <%- include('header.ejs') %>
   <br />
   <%- include("todos.ejs") %> <%- include("footer.ejs") %>
  </body>
</html>
